# Pequena revisão sobre conceitos de Estatística

## Amostragem Simples

In [1]:
# Importando as bibliotecas
import pandas as pd
import numpy as np

In [4]:
# Carregamento da base de dados
base = pd.read_csv('C:/Users/hyago/documentos/Meusprojetos/python/data_science/Data_science/iris.csv')
base

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
# Verificando quantas linhas e colunas existem na base de dados
base.shape

(150, 5)

In [19]:
# Mudança da semente aleatória randômica para manter os resultados em várias execuções
np.random.seed(2345)
# 150 amostas, de 0, a 1, com reposição, probabilidade equivalentes
amostra = np.random.choice(a = [0,1], size = 150, replace = True, p = [0.7, 0.3]) # espaco amostral, tamanho, reposicao, probabilidades

N = len(amostra)
N1 = len(amostra[amostra == 1])
N0 = len(amostra[amostra == 0])
# Verificar tamanho da amostra
print(f'tamanho da amostra {N}')
# Veirificar tamanha da amostra para valores igual a 1 e 0
print(f'quantos 0 tem na amostra: {N0}, com probabilidade={N0/N:.3f}')
print(f'Quantos 1 tem na amostra {N1}, com probabilidade={N1/N:.3f}')
print(amostra)

tamanho da amostra 150
quantos 0 tem na amostra: 101, com probabilidade=0.673
Quantos 1 tem na amostra 49, com probabilidade=0.327
[0 0 0 0 1 0 0 0 1 0 0 1 0 1 0 0 1 0 1 1 1 0 0 1 1 1 0 1 0 0 1 0 0 1 1 0 1
 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1 0 0 0
 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 1 1 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 1 0 1 1 1 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0
 0 1]

In [9]:
# Vou usar a 'amostra' para pegar da base de dados uma base de dados nova
base_final = base.loc[amostra == 0]
base_final.shape

(101, 5)

In [20]:
base_final2 = base.loc[amostra == 1]
base_final2.shape

(49, 5)

## Amostragem Sistemática

In [21]:
# importado as bibliotecas

import numpy as np
import pandas as pd
from math import ceil

In [22]:
# Criação das varióveis para representar a população, a smotra e o valor de K
populacao = 150
amostra = 15
k = ceil(populacao /amostra)
print(k)

10

In [28]:
# Definição do valor randômico para inicializar a amostra, iniviando em 1 até k+1

r = np.random.randint(low = 1, high=k + 1, size = 1)
print(r)

[2]

In [29]:
# Criamos um for para somar os próximos valores, baseado no primeiro valor r que foi definido acima
acumulador = r[0]
sorteados = []
for i in range(amostra):
    #print(acumulador)
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92, 102, 112, 122, 132, 142]

In [30]:
len(sorteados)

15

In [31]:
# Carregamos a base de dados e criamos a base_final somente com os valores sorteados
base = pd.read_csv('C:/Users/hyago/documentos/Meusprojetos/python/data_science/Data_science/iris.csv')
base.shape

(150, 5)

In [32]:
base_final = base.loc[sorteados]
base_final

     sepal length  sepal width  petal length  petal width            class
2             4.7          3.2           1.3          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
52            6.9          3.1           4.9          1.5  Iris-versicolor
62            6.0          2.2           4.0          1.0  Iris-versicolor
72            6.3          2.5           4.9          1.5  Iris-versicolor
82            5.8          2.7           3.9          1.2  Iris-versicolor
92            5.8          2.6           4.0          1.2  Iris-versicolor
102           7.1          3.0           5.9          2.1   Iris-virginica
112           6.8          3.0           5.5          2.1   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica